services:
  asm_pc_service:
    build: ./asm-pc-service
    command: uvicorn api.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./asm-pc-service/:/api/
    ports:
      - 8001:8000
    env_file:
      - ./asm-pc-service/.env
    depends_on:
      - asm_pc_db

  asm_pc_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_asm_pc:/var/lib/postgresql/data/
    env_file:
      - ./asm-pc-service/.env

  auth_service:
    build: ./auth-service
    command: uvicorn api.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./auth-service/:/api/
    ports:
      - 8002:8000
    env_file:
      - ./auth-service/.env
    depends_on:
      - auth_db

  auth_db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_auth:/var/lib/postgresql/data/
    env_file:
      - ./auth-service/.env

  nginx:
    image: nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx_config.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - auth_service
      - asm_pc_service

volumes:
  postgres_data_auth:
  postgres_data_asm_pc:
